body {
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.iUdPtJ {
  background-color: white !important;
}
.App {
  margin: 2rem auto;
}

form input {
  min-width: 50%;
  padding: 7px;
  border: 1px solid;
  outline: none;
  border-radius: 3px;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

form input:focus {
  border: 1px solid #09f;
}


.form-demo .card {
  min-width: 450px;
}
.form-demo .card form {
  margin-top: 2rem;
}
.form-demo .card .field {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
  .form-demo .card {
      width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .form-demo .card {
      width: 100%;
      min-width: 0;
  }
}