body {
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.iUdPtJ {
  background-color: white !important;
}
.App {
  margin: 2rem auto;
}

form input {
  min-width: 50%;
  padding: 7px;
  border: 1px solid;
  outline: none;
  border-radius: 3px;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

form input:focus {
  border: 1px solid #09f;
}

.form-demo .card {
  min-width: 450px;
}
.form-demo .card form {
  margin-top: 2rem;
}
.form-demo .card .field {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
  .form-demo .card {
    width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .form-demo .card {
    width: 100%;
    min-width: 0;
  }
}

.btn {
  float: right;
}

.search {
  margin-top: 2000px;
  margin-left: 420px;
  font-weight: bold;
}

.p-float-label {
  margin-top: -40px;
  margin-left: 520px;
}

.h2 {
  margin-top: -90px;
  margin-left: 20px;
  padding-bottom: 100px;
}

.board-lists {
  display: grid;
  grid-auto-columns: 272px;
  grid-auto-flow: column;
  grid-gap: 8px;
  overflow: scroll;
}

.board-list {
  background-color: rgb(235, 236, 240);
  border-radius: 3px;
  display: grid;
  grid-auto-rows: max-content;
  grid-gap: 10px;
  height: max-content;
  padding: 10px;
}

.list-title {
  font-weight: bold;
}

.card {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  padding: 10px;
}

.add-card {
  padding-top: 10px;
  padding-bottom: 5px;
}
